<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>


<main>
    <div class="jumbotron">
        <h1>Formulario de visualizacion de datos</h1>
        <%if (productos.length === 0) { %>
            <p>No hay productos cargados</p>
        <% } %>
        <ul>
            <% productos.forEach(function(prod) { %>
                <div class="row align-items-center" style="background-color:#aaa">
                    <div class="col w-25 p-3"><h4><%= prod.title %></h4></div>
                    <div class="col w-25 p-3"><h4><%= prod.price %></h4></div>
                    <div class="col w-50 p-3"><img src= <%= prod.thumbnail %> style="max-width:50px"></div>
                </div>
            <% }); %>
        </ul>
 
    </div>
   
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>